{{#unless editMode}}
<p class='comment-body'>
  {{model.body}}
</p>

<span class="delete-indicator"
      onClick={{this.attrs.delete-comment}}>
</span>
<span class="edit-indicator"
  onclick={{toggle 'editMode' this}}></span>
{{else}}
  {{x-textarea
      value=model.body
      disabled=(not saveComment.isIdle)}}
  <button disabled={{not saveComment.isIdle}} class="btn"
    onclick={{perform saveComment}}>Save</button>  
{{/unless}}

{{#if model.updatedAt}}
  <span class="posted-at">
    {{moment-from-now model.updatedAt}}
  </span>
{{/if}}