<nav class="navbar">
  {{link-to 'Comment.ly' 'posts.index' classNames='brand'}}
    <div class="pull-right">
      [
        lat: {{loc.lat}},
        lng: {{loc.lng}}
      ]
      {{#unless (is-authenticated)}}
        {{link-to 'Login' 'auth.login' class='btn'}}
      {{else}}
        <button class="btn" onclick={{route-action 'logout'}}>Logout</button>
      {{/unless}}
    </div>
</nav>
{{outlet}}
